*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
.clears {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

html {
    box-sizing: border-box;
    font: 87.5%/1.4 AlibabaPuHuiTi-Heavy，HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

body {
    margin: 0 auto;
    font-size: 16px;
    background-color: #f2f0f5;
}

.header {
    height: 48px;
    padding: 0 50px;
    z-index: 1000;
    background-color: #001529;
    color: rgba(0,0,0,.85);;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    position: fixed;
    left: 0;
    right: 0;
}

.header-main {
    display: flex;
    height: 100%;
    padding-left: 16px;
}

.header-main-left {
    display: flex;
    min-width: 192px;
    z-index: 9;
}

.nav-header-logo{
    position: relative;
    min-width: 165px;
    height: 100%;
    overflow: hidden;
    transition: all .3s;
}

.nav-header-logo img {
    display: inline-block;
    height: 32px;
    border-radius: 50%;
    vertical-align: middle;
}

.nav-header-logo h1 {
    display: inline-block;
    margin: 0 0 0 12px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    vertical-align: top;
}

.header h3 {
    color: #fff;
}

.layout {
    padding-top: 0.1px;
    background: #f2f0f5;
}

p{
    text-indent: 25px;
    line-height: 33px;
}

.nav {
   
    background-color: #001529;
    color: hsla(0,0%,100%,.65);
    top: 0px;
    left: 0;
    right: 0;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    line-height: 48px;
    min-width: 0;
}

.menu{
    height: 48px;
    display: inline-block;
}
.menu ul{
    list-style:none;
    display: inline-block;
}
.menu{
    vertical-align: middle;
}

.menu li{
    vertical-align: middle;
    display: inline-block;
    width: 150px;
    color: hsla(0,0%,100%,.65);
    transition: opacity .3s cubic-bezier(.645,.045,.355,1),width .3s cubic-bezier(.645,.045,.355,1);
    height: 48px;
    text-align: center;
    margin-left: 5px;
    line-height: 48px;
}

.current {
    color: #fff;
}

.menu li:last-child {
margin-right: 5px;
}

.menu a:visited{
    color: #fff;
}

.menu a:link {
  color: hsla(0,0%,100%,.65);
}


hr { /*dummy content*/
  height: 6px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
} 

hr:last-child {  /*dummy content*/
  margin-right: 60%;
}

hr.image { /*dummy content*/
  padding-bottom: 50%;
} 

.wrapper {
  list-style: none;
  position: relative;
  flex: auto;
  min-height: 0;

}

.wide {
    max-width: 1200px;
    margin: 0 auto;
}
.archive {
  display: flex;
  flex-flow: row wrap;
  margin-left: -12px; 
  margin-right: -12px;
}

.article {
  padding: 1em;
  
  padding-left: 12px; 
  padding-right: 12px; 
}

.card {
    padding: 1em;
    width: 100%;
    height:100%;
    padding: 12px; 
    margin-bottom: 14px;
    box-sizing: border-box;
    box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 20px 20px rgba(0, 0, 0, 0.05);
    color: rgba(0,0,0,.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum","tnum";
    position: relative;
    background: #fff;
    border-radius: 2px;
}

.footer {
    color: rgba(0,0,0,.45);
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    line-height: 48px;
    margin: 48px 0 24px;
    padding: 0 16px;
    text-align: center;
}

.mt-10{margin-top: 10px;}

.m48{margin: 48px;}


@media(min-width: 1200px) {
    .ant-col-xl-24 {
        display:block;
        flex: 0 0 100%;
        max-width: 100%
    }

    .ant-col-xl-push-24 {
        left: 100%
    }

    .ant-col-xl-pull-24 {
        right: 100%
    }

    .ant-col-xl-offset-24 {
        margin-left: 100%
    }

    .ant-col-xl-order-24 {
        order: 24
    }

    .ant-col-xl-23 {
        display: block;
        flex: 0 0 95.83333333%;
        max-width: 95.83333333%
    }

    .ant-col-xl-push-23 {
        left: 95.83333333%
    }

    .ant-col-xl-pull-23 {
        right: 95.83333333%
    }

    .ant-col-xl-offset-23 {
        margin-left: 95.83333333%
    }

    .ant-col-xl-order-23 {
        order: 23
    }

    .ant-col-xl-22 {
        display: block;
        flex: 0 0 91.66666667%;
        max-width: 91.66666667%
    }

    .ant-col-xl-push-22 {
        left: 91.66666667%
    }

    .ant-col-xl-pull-22 {
        right: 91.66666667%
    }

    .ant-col-xl-offset-22 {
        margin-left: 91.66666667%
    }

    .ant-col-xl-order-22 {
        order: 22
    }

    .ant-col-xl-21 {
        display: block;
        flex: 0 0 87.5%;
        max-width: 87.5%
    }

    .ant-col-xl-push-21 {
        left: 87.5%
    }

    .ant-col-xl-pull-21 {
        right: 87.5%
    }

    .ant-col-xl-offset-21 {
        margin-left: 87.5%
    }

    .ant-col-xl-order-21 {
        order: 21
    }

    .ant-col-xl-20 {
        display: block;
        flex: 0 0 83.33333333%;
        max-width: 83.33333333%
    }

    .ant-col-xl-push-20 {
        left: 83.33333333%
    }

    .ant-col-xl-pull-20 {
        right: 83.33333333%
    }

    .ant-col-xl-offset-20 {
        margin-left: 83.33333333%
    }

    .ant-col-xl-order-20 {
        order: 20
    }

    .ant-col-xl-19 {
        display: block;
        flex: 0 0 79.16666667%;
        max-width: 79.16666667%
    }

    .ant-col-xl-push-19 {
        left: 79.16666667%
    }

    .ant-col-xl-pull-19 {
        right: 79.16666667%
    }

    .ant-col-xl-offset-19 {
        margin-left: 79.16666667%
    }

    .ant-col-xl-order-19 {
        order: 19
    }

    .ant-col-xl-18 {
        display: block;
        flex: 0 0 75%;
        max-width: 75%
    }

    .ant-col-xl-push-18 {
        left: 75%
    }

    .ant-col-xl-pull-18 {
        right: 75%
    }

    .ant-col-xl-offset-18 {
        margin-left: 75%
    }

    .ant-col-xl-order-18 {
        order: 18
    }

    .ant-col-xl-17 {
        display: block;
        flex: 0 0 70.83333333%;
        max-width: 70.83333333%
    }

    .ant-col-xl-push-17 {
        left: 70.83333333%
    }

    .ant-col-xl-pull-17 {
        right: 70.83333333%
    }

    .ant-col-xl-offset-17 {
        margin-left: 70.83333333%
    }

    .ant-col-xl-order-17 {
        order: 17
    }

    .ant-col-xl-16 {
        display: block;
        flex: 0 0 66.66666667%;
        max-width: 66.66666667%
    }

    .ant-col-xl-push-16 {
        left: 66.66666667%
    }

    .ant-col-xl-pull-16 {
        right: 66.66666667%
    }

    .ant-col-xl-offset-16 {
        margin-left: 66.66666667%
    }

    .ant-col-xl-order-16 {
        order: 16
    }

    .ant-col-xl-15 {
        display: block;
        flex: 0 0 62.5%;
        max-width: 62.5%
    }

    .ant-col-xl-push-15 {
        left: 62.5%
    }

    .ant-col-xl-pull-15 {
        right: 62.5%
    }

    .ant-col-xl-offset-15 {
        margin-left: 62.5%
    }

    .ant-col-xl-order-15 {
        order: 15
    }

    .ant-col-xl-14 {
        display: block;
        flex: 0 0 58.33333333%;
        max-width: 58.33333333%
    }

    .ant-col-xl-push-14 {
        left: 58.33333333%
    }

    .ant-col-xl-pull-14 {
        right: 58.33333333%
    }

    .ant-col-xl-offset-14 {
        margin-left: 58.33333333%
    }

    .ant-col-xl-order-14 {
        order: 14
    }

    .ant-col-xl-13 {
        display: block;
        flex: 0 0 54.16666667%;
        max-width: 54.16666667%
    }

    .ant-col-xl-push-13 {
        left: 54.16666667%
    }

    .ant-col-xl-pull-13 {
        right: 54.16666667%
    }

    .ant-col-xl-offset-13 {
        margin-left: 54.16666667%
    }

    .ant-col-xl-order-13 {
        order: 13
    }

    .ant-col-xl-12 {
        display: block;
        flex: 0 0 50%;
        max-width: 50%
    }

    .ant-col-xl-push-12 {
        left: 50%
    }

    .ant-col-xl-pull-12 {
        right: 50%
    }

    .ant-col-xl-offset-12 {
        margin-left: 50%
    }

    .ant-col-xl-order-12 {
        order: 12
    }

    .ant-col-xl-11 {
        display: block;
        flex: 0 0 45.83333333%;
        max-width: 45.83333333%
    }

    .ant-col-xl-push-11 {
        left: 45.83333333%
    }

    .ant-col-xl-pull-11 {
        right: 45.83333333%
    }

    .ant-col-xl-offset-11 {
        margin-left: 45.83333333%
    }

    .ant-col-xl-order-11 {
        order: 11
    }

    .ant-col-xl-10 {
        display: block;
        flex: 0 0 41.66666667%;
        max-width: 41.66666667%
    }

    .ant-col-xl-push-10 {
        left: 41.66666667%
    }

    .ant-col-xl-pull-10 {
        right: 41.66666667%
    }

    .ant-col-xl-offset-10 {
        margin-left: 41.66666667%
    }

    .ant-col-xl-order-10 {
        order: 10
    }

    .ant-col-xl-9 {
        display: block;
        flex: 0 0 37.5%;
        max-width: 37.5%
    }

    .ant-col-xl-push-9 {
        left: 37.5%
    }

    .ant-col-xl-pull-9 {
        right: 37.5%
    }

    .ant-col-xl-offset-9 {
        margin-left: 37.5%
    }

    .ant-col-xl-order-9 {
        order: 9
    }

    .ant-col-xl-8 {
        display: block;
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%
    }

    .ant-col-xl-push-8 {
        left: 33.33333333%
    }

    .ant-col-xl-pull-8 {
        right: 33.33333333%
    }

    .ant-col-xl-offset-8 {
        margin-left: 33.33333333%
    }

    .ant-col-xl-order-8 {
        order: 8
    }

    .ant-col-xl-7 {
        display: block;
        flex: 0 0 29.16666667%;
        max-width: 29.16666667%
    }

    .ant-col-xl-push-7 {
        left: 29.16666667%
    }

    .ant-col-xl-pull-7 {
        right: 29.16666667%
    }

    .ant-col-xl-offset-7 {
        margin-left: 29.16666667%
    }

    .ant-col-xl-order-7 {
        order: 7
    }

    .ant-col-xl-6 {
        display: block;
        flex: 0 0 25%;
        max-width: 25%
    }

    .ant-col-xl-push-6 {
        left: 25%
    }

    .ant-col-xl-pull-6 {
        right: 25%
    }

    .ant-col-xl-offset-6 {
        margin-left: 25%
    }

    .ant-col-xl-order-6 {
        order: 6
    }

    .ant-col-xl-5 {
        display: block;
        flex: 0 0 20.83333333%;
        max-width: 20.83333333%
    }

    .ant-col-xl-push-5 {
        left: 20.83333333%
    }

    .ant-col-xl-pull-5 {
        right: 20.83333333%
    }

    .ant-col-xl-offset-5 {
        margin-left: 20.83333333%
    }

    .ant-col-xl-order-5 {
        order: 5
    }

    .ant-col-xl-4 {
        display: block;
        flex: 0 0 16.66666667%;
        max-width: 16.66666667%
    }

    .ant-col-xl-push-4 {
        left: 16.66666667%
    }

    .ant-col-xl-pull-4 {
        right: 16.66666667%
    }

    .ant-col-xl-offset-4 {
        margin-left: 16.66666667%
    }

    .ant-col-xl-order-4 {
        order: 4
    }

    .ant-col-xl-3 {
        display: block;
        flex: 0 0 12.5%;
        max-width: 12.5%
    }

    .ant-col-xl-push-3 {
        left: 12.5%
    }

    .ant-col-xl-pull-3 {
        right: 12.5%
    }

    .ant-col-xl-offset-3 {
        margin-left: 12.5%
    }

    .ant-col-xl-order-3 {
        order: 3
    }

    .ant-col-xl-2 {
        display: block;
        flex: 0 0 8.33333333%;
        max-width: 8.33333333%
    }

    .ant-col-xl-push-2 {
        left: 8.33333333%
    }

    .ant-col-xl-pull-2 {
        right: 8.33333333%
    }

    .ant-col-xl-offset-2 {
        margin-left: 8.33333333%
    }

    .ant-col-xl-order-2 {
        order: 2
    }

    .ant-col-xl-1 {
        display: block;
        flex: 0 0 4.16666667%;
        max-width: 4.16666667%
    }

    .ant-col-xl-push-1 {
        left: 4.16666667%
    }

    .ant-col-xl-pull-1 {
        right: 4.16666667%
    }

    .ant-col-xl-offset-1 {
        margin-left: 4.16666667%
    }

    .ant-col-xl-order-1 {
        order: 1
    }

    .ant-col-xl-0 {
        display: none
    }

    .ant-col-push-0 {
        left: auto
    }

    .ant-col-pull-0 {
        right: auto
    }

    .ant-col-xl-push-0 {
        left: auto
    }

    .ant-col-xl-pull-0 {
        right: auto
    }

    .ant-col-xl-offset-0 {
        margin-left: 0
    }

    .ant-col-xl-order-0 {
        order: 0
    }

    .ant-col-push-0.ant-col-rtl {
        right: auto
    }

    .ant-col-pull-0.ant-col-rtl {
        left: auto
    }

    .ant-col-xl-push-0.ant-col-rtl {
        right: auto
    }

    .ant-col-xl-pull-0.ant-col-rtl {
        left: auto
    }

    .ant-col-xl-offset-0.ant-col-rtl {
        margin-right: 0
    }

    .ant-col-xl-push-1.ant-col-rtl {
        right: 4.16666667%;
        left: auto
    }

    .ant-col-xl-pull-1.ant-col-rtl {
        right: auto;
        left: 4.16666667%
    }

    .ant-col-xl-offset-1.ant-col-rtl {
        margin-right: 4.16666667%;
        margin-left: 0
    }

    .ant-col-xl-push-2.ant-col-rtl {
        right: 8.33333333%;
        left: auto
    }

    .ant-col-xl-pull-2.ant-col-rtl {
        right: auto;
        left: 8.33333333%
    }

    .ant-col-xl-offset-2.ant-col-rtl {
        margin-right: 8.33333333%;
        margin-left: 0
    }

    .ant-col-xl-push-3.ant-col-rtl {
        right: 12.5%;
        left: auto
    }

    .ant-col-xl-pull-3.ant-col-rtl {
        right: auto;
        left: 12.5%
    }

    .ant-col-xl-offset-3.ant-col-rtl {
        margin-right: 12.5%;
        margin-left: 0
    }

    .ant-col-xl-push-4.ant-col-rtl {
        right: 16.66666667%;
        left: auto
    }

    .ant-col-xl-pull-4.ant-col-rtl {
        right: auto;
        left: 16.66666667%
    }

    .ant-col-xl-offset-4.ant-col-rtl {
        margin-right: 16.66666667%;
        margin-left: 0
    }

    .ant-col-xl-push-5.ant-col-rtl {
        right: 20.83333333%;
        left: auto
    }

    .ant-col-xl-pull-5.ant-col-rtl {
        right: auto;
        left: 20.83333333%
    }

    .ant-col-xl-offset-5.ant-col-rtl {
        margin-right: 20.83333333%;
        margin-left: 0
    }

    .ant-col-xl-push-6.ant-col-rtl {
        right: 25%;
        left: auto
    }

    .ant-col-xl-pull-6.ant-col-rtl {
        right: auto;
        left: 25%
    }

    .ant-col-xl-offset-6.ant-col-rtl {
        margin-right: 25%;
        margin-left: 0
    }

    .ant-col-xl-push-7.ant-col-rtl {
        right: 29.16666667%;
        left: auto
    }

    .ant-col-xl-pull-7.ant-col-rtl {
        right: auto;
        left: 29.16666667%
    }

    .ant-col-xl-offset-7.ant-col-rtl {
        margin-right: 29.16666667%;
        margin-left: 0
    }

    .ant-col-xl-push-8.ant-col-rtl {
        right: 33.33333333%;
        left: auto
    }

    .ant-col-xl-pull-8.ant-col-rtl {
        right: auto;
        left: 33.33333333%
    }

    .ant-col-xl-offset-8.ant-col-rtl {
        margin-right: 33.33333333%;
        margin-left: 0
    }

    .ant-col-xl-push-9.ant-col-rtl {
        right: 37.5%;
        left: auto
    }

    .ant-col-xl-pull-9.ant-col-rtl {
        right: auto;
        left: 37.5%
    }

    .ant-col-xl-offset-9.ant-col-rtl {
        margin-right: 37.5%;
        margin-left: 0
    }

    .ant-col-xl-push-10.ant-col-rtl {
        right: 41.66666667%;
        left: auto
    }

    .ant-col-xl-pull-10.ant-col-rtl {
        right: auto;
        left: 41.66666667%
    }

    .ant-col-xl-offset-10.ant-col-rtl {
        margin-right: 41.66666667%;
        margin-left: 0
    }

    .ant-col-xl-push-11.ant-col-rtl {
        right: 45.83333333%;
        left: auto
    }

    .ant-col-xl-pull-11.ant-col-rtl {
        right: auto;
        left: 45.83333333%
    }

    .ant-col-xl-offset-11.ant-col-rtl {
        margin-right: 45.83333333%;
        margin-left: 0
    }

    .ant-col-xl-push-12.ant-col-rtl {
        right: 50%;
        left: auto
    }

    .ant-col-xl-pull-12.ant-col-rtl {
        right: auto;
        left: 50%
    }

    .ant-col-xl-offset-12.ant-col-rtl {
        margin-right: 50%;
        margin-left: 0
    }

    .ant-col-xl-push-13.ant-col-rtl {
        right: 54.16666667%;
        left: auto
    }

    .ant-col-xl-pull-13.ant-col-rtl {
        right: auto;
        left: 54.16666667%
    }

    .ant-col-xl-offset-13.ant-col-rtl {
        margin-right: 54.16666667%;
        margin-left: 0
    }

    .ant-col-xl-push-14.ant-col-rtl {
        right: 58.33333333%;
        left: auto
    }

    .ant-col-xl-pull-14.ant-col-rtl {
        right: auto;
        left: 58.33333333%
    }

    .ant-col-xl-offset-14.ant-col-rtl {
        margin-right: 58.33333333%;
        margin-left: 0
    }

    .ant-col-xl-push-15.ant-col-rtl {
        right: 62.5%;
        left: auto
    }

    .ant-col-xl-pull-15.ant-col-rtl {
        right: auto;
        left: 62.5%
    }

    .ant-col-xl-offset-15.ant-col-rtl {
        margin-right: 62.5%;
        margin-left: 0
    }

    .ant-col-xl-push-16.ant-col-rtl {
        right: 66.66666667%;
        left: auto
    }

    .ant-col-xl-pull-16.ant-col-rtl {
        right: auto;
        left: 66.66666667%
    }

    .ant-col-xl-offset-16.ant-col-rtl {
        margin-right: 66.66666667%;
        margin-left: 0
    }

    .ant-col-xl-push-17.ant-col-rtl {
        right: 70.83333333%;
        left: auto
    }

    .ant-col-xl-pull-17.ant-col-rtl {
        right: auto;
        left: 70.83333333%
    }

    .ant-col-xl-offset-17.ant-col-rtl {
        margin-right: 70.83333333%;
        margin-left: 0
    }

    .ant-col-xl-push-18.ant-col-rtl {
        right: 75%;
        left: auto
    }

    .ant-col-xl-pull-18.ant-col-rtl {
        right: auto;
        left: 75%
    }

    .ant-col-xl-offset-18.ant-col-rtl {
        margin-right: 75%;
        margin-left: 0
    }

    .ant-col-xl-push-19.ant-col-rtl {
        right: 79.16666667%;
        left: auto
    }

    .ant-col-xl-pull-19.ant-col-rtl {
        right: auto;
        left: 79.16666667%
    }

    .ant-col-xl-offset-19.ant-col-rtl {
        margin-right: 79.16666667%;
        margin-left: 0
    }

    .ant-col-xl-push-20.ant-col-rtl {
        right: 83.33333333%;
        left: auto
    }

    .ant-col-xl-pull-20.ant-col-rtl {
        right: auto;
        left: 83.33333333%
    }

    .ant-col-xl-offset-20.ant-col-rtl {
        margin-right: 83.33333333%;
        margin-left: 0
    }

    .ant-col-xl-push-21.ant-col-rtl {
        right: 87.5%;
        left: auto
    }

    .ant-col-xl-pull-21.ant-col-rtl {
        right: auto;
        left: 87.5%
    }

    .ant-col-xl-offset-21.ant-col-rtl {
        margin-right: 87.5%;
        margin-left: 0
    }

    .ant-col-xl-push-22.ant-col-rtl {
        right: 91.66666667%;
        left: auto
    }

    .ant-col-xl-pull-22.ant-col-rtl {
        right: auto;
        left: 91.66666667%
    }

    .ant-col-xl-offset-22.ant-col-rtl {
        margin-right: 91.66666667%;
        margin-left: 0
    }

    .ant-col-xl-push-23.ant-col-rtl {
        right: 95.83333333%;
        left: auto
    }

    .ant-col-xl-pull-23.ant-col-rtl {
        right: auto;
        left: 95.83333333%
    }

    .ant-col-xl-offset-23.ant-col-rtl {
        margin-right: 95.83333333%;
        margin-left: 0
    }

    .ant-col-xl-push-24.ant-col-rtl {
        right: 100%;
        left: auto
    }

    .ant-col-xl-pull-24.ant-col-rtl {
        right: auto;
        left: 100%
    }

    .ant-col-xl-offset-24.ant-col-rtl {
        margin-right: 100%;
        margin-left: 0
    }
}

@media(min-width: 1600px) {
    .ant-col-xxl-24 {
        display:block;
        flex: 0 0 100%;
        max-width: 100%
    }

    .ant-col-xxl-push-24 {
        left: 100%
    }

    .ant-col-xxl-pull-24 {
        right: 100%
    }

    .ant-col-xxl-offset-24 {
        margin-left: 100%
    }

    .ant-col-xxl-order-24 {
        order: 24
    }

    .ant-col-xxl-23 {
        display: block;
        flex: 0 0 95.83333333%;
        max-width: 95.83333333%
    }

    .ant-col-xxl-push-23 {
        left: 95.83333333%
    }

    .ant-col-xxl-pull-23 {
        right: 95.83333333%
    }

    .ant-col-xxl-offset-23 {
        margin-left: 95.83333333%
    }

    .ant-col-xxl-order-23 {
        order: 23
    }

    .ant-col-xxl-22 {
        display: block;
        flex: 0 0 91.66666667%;
        max-width: 91.66666667%
    }

    .ant-col-xxl-push-22 {
        left: 91.66666667%
    }

    .ant-col-xxl-pull-22 {
        right: 91.66666667%
    }

    .ant-col-xxl-offset-22 {
        margin-left: 91.66666667%
    }

    .ant-col-xxl-order-22 {
        order: 22
    }

    .ant-col-xxl-21 {
        display: block;
        flex: 0 0 87.5%;
        max-width: 87.5%
    }

    .ant-col-xxl-push-21 {
        left: 87.5%
    }

    .ant-col-xxl-pull-21 {
        right: 87.5%
    }

    .ant-col-xxl-offset-21 {
        margin-left: 87.5%
    }

    .ant-col-xxl-order-21 {
        order: 21
    }

    .ant-col-xxl-20 {
        display: block;
        flex: 0 0 83.33333333%;
        max-width: 83.33333333%
    }

    .ant-col-xxl-push-20 {
        left: 83.33333333%
    }

    .ant-col-xxl-pull-20 {
        right: 83.33333333%
    }

    .ant-col-xxl-offset-20 {
        margin-left: 83.33333333%
    }

    .ant-col-xxl-order-20 {
        order: 20
    }

    .ant-col-xxl-19 {
        display: block;
        flex: 0 0 79.16666667%;
        max-width: 79.16666667%
    }

    .ant-col-xxl-push-19 {
        left: 79.16666667%
    }

    .ant-col-xxl-pull-19 {
        right: 79.16666667%
    }

    .ant-col-xxl-offset-19 {
        margin-left: 79.16666667%
    }

    .ant-col-xxl-order-19 {
        order: 19
    }

    .ant-col-xxl-18 {
        display: block;
        flex: 0 0 75%;
        max-width: 75%
    }

    .ant-col-xxl-push-18 {
        left: 75%
    }

    .ant-col-xxl-pull-18 {
        right: 75%
    }

    .ant-col-xxl-offset-18 {
        margin-left: 75%
    }

    .ant-col-xxl-order-18 {
        order: 18
    }

    .ant-col-xxl-17 {
        display: block;
        flex: 0 0 70.83333333%;
        max-width: 70.83333333%
    }

    .ant-col-xxl-push-17 {
        left: 70.83333333%
    }

    .ant-col-xxl-pull-17 {
        right: 70.83333333%
    }

    .ant-col-xxl-offset-17 {
        margin-left: 70.83333333%
    }

    .ant-col-xxl-order-17 {
        order: 17
    }

    .ant-col-xxl-16 {
        display: block;
        flex: 0 0 66.66666667%;
        max-width: 66.66666667%
    }

    .ant-col-xxl-push-16 {
        left: 66.66666667%
    }

    .ant-col-xxl-pull-16 {
        right: 66.66666667%
    }

    .ant-col-xxl-offset-16 {
        margin-left: 66.66666667%
    }

    .ant-col-xxl-order-16 {
        order: 16
    }

    .ant-col-xxl-15 {
        display: block;
        flex: 0 0 62.5%;
        max-width: 62.5%
    }

    .ant-col-xxl-push-15 {
        left: 62.5%
    }

    .ant-col-xxl-pull-15 {
        right: 62.5%
    }

    .ant-col-xxl-offset-15 {
        margin-left: 62.5%
    }

    .ant-col-xxl-order-15 {
        order: 15
    }

    .ant-col-xxl-14 {
        display: block;
        flex: 0 0 58.33333333%;
        max-width: 58.33333333%
    }

    .ant-col-xxl-push-14 {
        left: 58.33333333%
    }

    .ant-col-xxl-pull-14 {
        right: 58.33333333%
    }

    .ant-col-xxl-offset-14 {
        margin-left: 58.33333333%
    }

    .ant-col-xxl-order-14 {
        order: 14
    }

    .ant-col-xxl-13 {
        display: block;
        flex: 0 0 54.16666667%;
        max-width: 54.16666667%
    }

    .ant-col-xxl-push-13 {
        left: 54.16666667%
    }

    .ant-col-xxl-pull-13 {
        right: 54.16666667%
    }

    .ant-col-xxl-offset-13 {
        margin-left: 54.16666667%
    }

    .ant-col-xxl-order-13 {
        order: 13
    }

    .ant-col-xxl-12 {
        display: block;
        flex: 0 0 50%;
        max-width: 50%
    }

    .ant-col-xxl-push-12 {
        left: 50%
    }

    .ant-col-xxl-pull-12 {
        right: 50%
    }

    .ant-col-xxl-offset-12 {
        margin-left: 50%
    }

    .ant-col-xxl-order-12 {
        order: 12
    }

    .ant-col-xxl-11 {
        display: block;
        flex: 0 0 45.83333333%;
        max-width: 45.83333333%
    }

    .ant-col-xxl-push-11 {
        left: 45.83333333%
    }

    .ant-col-xxl-pull-11 {
        right: 45.83333333%
    }

    .ant-col-xxl-offset-11 {
        margin-left: 45.83333333%
    }

    .ant-col-xxl-order-11 {
        order: 11
    }

    .ant-col-xxl-10 {
        display: block;
        flex: 0 0 41.66666667%;
        max-width: 41.66666667%
    }

    .ant-col-xxl-push-10 {
        left: 41.66666667%
    }

    .ant-col-xxl-pull-10 {
        right: 41.66666667%
    }

    .ant-col-xxl-offset-10 {
        margin-left: 41.66666667%
    }

    .ant-col-xxl-order-10 {
        order: 10
    }

    .ant-col-xxl-9 {
        display: block;
        flex: 0 0 37.5%;
        max-width: 37.5%
    }

    .ant-col-xxl-push-9 {
        left: 37.5%
    }

    .ant-col-xxl-pull-9 {
        right: 37.5%
    }

    .ant-col-xxl-offset-9 {
        margin-left: 37.5%
    }

    .ant-col-xxl-order-9 {
        order: 9
    }

    .ant-col-xxl-8 {
        display: block;
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%
    }

    .ant-col-xxl-push-8 {
        left: 33.33333333%
    }

    .ant-col-xxl-pull-8 {
        right: 33.33333333%
    }

    .ant-col-xxl-offset-8 {
        margin-left: 33.33333333%
    }

    .ant-col-xxl-order-8 {
        order: 8
    }

    .ant-col-xxl-7 {
        display: block;
        flex: 0 0 29.16666667%;
        max-width: 29.16666667%
    }

    .ant-col-xxl-push-7 {
        left: 29.16666667%
    }

    .ant-col-xxl-pull-7 {
        right: 29.16666667%
    }

    .ant-col-xxl-offset-7 {
        margin-left: 29.16666667%
    }

    .ant-col-xxl-order-7 {
        order: 7
    }

    .ant-col-xxl-6 {
        display: block;
        flex: 0 0 25%;
        max-width: 25%
    }

    .ant-col-xxl-push-6 {
        left: 25%
    }

    .ant-col-xxl-pull-6 {
        right: 25%
    }

    .ant-col-xxl-offset-6 {
        margin-left: 25%
    }

    .ant-col-xxl-order-6 {
        order: 6
    }

    .ant-col-xxl-5 {
        display: block;
        flex: 0 0 20.83333333%;
        max-width: 20.83333333%
    }

    .ant-col-xxl-push-5 {
        left: 20.83333333%
    }

    .ant-col-xxl-pull-5 {
        right: 20.83333333%
    }

    .ant-col-xxl-offset-5 {
        margin-left: 20.83333333%
    }

    .ant-col-xxl-order-5 {
        order: 5
    }

    .ant-col-xxl-4 {
        display: block;
        flex: 0 0 16.66666667%;
        max-width: 16.66666667%
    }

    .ant-col-xxl-push-4 {
        left: 16.66666667%
    }

    .ant-col-xxl-pull-4 {
        right: 16.66666667%
    }

    .ant-col-xxl-offset-4 {
        margin-left: 16.66666667%
    }

    .ant-col-xxl-order-4 {
        order: 4
    }

    .ant-col-xxl-3 {
        display: block;
        flex: 0 0 12.5%;
        max-width: 12.5%
    }

    .ant-col-xxl-push-3 {
        left: 12.5%
    }

    .ant-col-xxl-pull-3 {
        right: 12.5%
    }

    .ant-col-xxl-offset-3 {
        margin-left: 12.5%
    }

    .ant-col-xxl-order-3 {
        order: 3
    }

    .ant-col-xxl-2 {
        display: block;
        flex: 0 0 8.33333333%;
        max-width: 8.33333333%
    }

    .ant-col-xxl-push-2 {
        left: 8.33333333%
    }

    .ant-col-xxl-pull-2 {
        right: 8.33333333%
    }

    .ant-col-xxl-offset-2 {
        margin-left: 8.33333333%
    }

    .ant-col-xxl-order-2 {
        order: 2
    }

    .ant-col-xxl-1 {
        display: block;
        flex: 0 0 4.16666667%;
        max-width: 4.16666667%
    }

    .ant-col-xxl-push-1 {
        left: 4.16666667%
    }

    .ant-col-xxl-pull-1 {
        right: 4.16666667%
    }

    .ant-col-xxl-offset-1 {
        margin-left: 4.16666667%
    }

    .ant-col-xxl-order-1 {
        order: 1
    }

    .ant-col-xxl-0 {
        display: none
    }

    .ant-col-push-0 {
        left: auto
    }

    .ant-col-pull-0 {
        right: auto
    }

    .ant-col-xxl-push-0 {
        left: auto
    }

    .ant-col-xxl-pull-0 {
        right: auto
    }

    .ant-col-xxl-offset-0 {
        margin-left: 0
    }

    .ant-col-xxl-order-0 {
        order: 0
    }

    .ant-col-push-0.ant-col-rtl {
        right: auto
    }

    .ant-col-pull-0.ant-col-rtl {
        left: auto
    }

    .ant-col-xxl-push-0.ant-col-rtl {
        right: auto
    }

    .ant-col-xxl-pull-0.ant-col-rtl {
        left: auto
    }

    .ant-col-xxl-offset-0.ant-col-rtl {
        margin-right: 0
    }

    .ant-col-xxl-push-1.ant-col-rtl {
        right: 4.16666667%;
        left: auto
    }

    .ant-col-xxl-pull-1.ant-col-rtl {
        right: auto;
        left: 4.16666667%
    }

    .ant-col-xxl-offset-1.ant-col-rtl {
        margin-right: 4.16666667%;
        margin-left: 0
    }

    .ant-col-xxl-push-2.ant-col-rtl {
        right: 8.33333333%;
        left: auto
    }

    .ant-col-xxl-pull-2.ant-col-rtl {
        right: auto;
        left: 8.33333333%
    }

    .ant-col-xxl-offset-2.ant-col-rtl {
        margin-right: 8.33333333%;
        margin-left: 0
    }

    .ant-col-xxl-push-3.ant-col-rtl {
        right: 12.5%;
        left: auto
    }

    .ant-col-xxl-pull-3.ant-col-rtl {
        right: auto;
        left: 12.5%
    }

    .ant-col-xxl-offset-3.ant-col-rtl {
        margin-right: 12.5%;
        margin-left: 0
    }

    .ant-col-xxl-push-4.ant-col-rtl {
        right: 16.66666667%;
        left: auto
    }

    .ant-col-xxl-pull-4.ant-col-rtl {
        right: auto;
        left: 16.66666667%
    }

    .ant-col-xxl-offset-4.ant-col-rtl {
        margin-right: 16.66666667%;
        margin-left: 0
    }

    .ant-col-xxl-push-5.ant-col-rtl {
        right: 20.83333333%;
        left: auto
    }

    .ant-col-xxl-pull-5.ant-col-rtl {
        right: auto;
        left: 20.83333333%
    }

    .ant-col-xxl-offset-5.ant-col-rtl {
        margin-right: 20.83333333%;
        margin-left: 0
    }

    .ant-col-xxl-push-6.ant-col-rtl {
        right: 25%;
        left: auto
    }

    .ant-col-xxl-pull-6.ant-col-rtl {
        right: auto;
        left: 25%
    }

    .ant-col-xxl-offset-6.ant-col-rtl {
        margin-right: 25%;
        margin-left: 0
    }

    .ant-col-xxl-push-7.ant-col-rtl {
        right: 29.16666667%;
        left: auto
    }

    .ant-col-xxl-pull-7.ant-col-rtl {
        right: auto;
        left: 29.16666667%
    }

    .ant-col-xxl-offset-7.ant-col-rtl {
        margin-right: 29.16666667%;
        margin-left: 0
    }

    .ant-col-xxl-push-8.ant-col-rtl {
        right: 33.33333333%;
        left: auto
    }

    .ant-col-xxl-pull-8.ant-col-rtl {
        right: auto;
        left: 33.33333333%
    }

    .ant-col-xxl-offset-8.ant-col-rtl {
        margin-right: 33.33333333%;
        margin-left: 0
    }

    .ant-col-xxl-push-9.ant-col-rtl {
        right: 37.5%;
        left: auto
    }

    .ant-col-xxl-pull-9.ant-col-rtl {
        right: auto;
        left: 37.5%
    }

    .ant-col-xxl-offset-9.ant-col-rtl {
        margin-right: 37.5%;
        margin-left: 0
    }

    .ant-col-xxl-push-10.ant-col-rtl {
        right: 41.66666667%;
        left: auto
    }

    .ant-col-xxl-pull-10.ant-col-rtl {
        right: auto;
        left: 41.66666667%
    }

    .ant-col-xxl-offset-10.ant-col-rtl {
        margin-right: 41.66666667%;
        margin-left: 0
    }

    .ant-col-xxl-push-11.ant-col-rtl {
        right: 45.83333333%;
        left: auto
    }

    .ant-col-xxl-pull-11.ant-col-rtl {
        right: auto;
        left: 45.83333333%
    }

    .ant-col-xxl-offset-11.ant-col-rtl {
        margin-right: 45.83333333%;
        margin-left: 0
    }

    .ant-col-xxl-push-12.ant-col-rtl {
        right: 50%;
        left: auto
    }

    .ant-col-xxl-pull-12.ant-col-rtl {
        right: auto;
        left: 50%
    }

    .ant-col-xxl-offset-12.ant-col-rtl {
        margin-right: 50%;
        margin-left: 0
    }

    .ant-col-xxl-push-13.ant-col-rtl {
        right: 54.16666667%;
        left: auto
    }

    .ant-col-xxl-pull-13.ant-col-rtl {
        right: auto;
        left: 54.16666667%
    }

    .ant-col-xxl-offset-13.ant-col-rtl {
        margin-right: 54.16666667%;
        margin-left: 0
    }

    .ant-col-xxl-push-14.ant-col-rtl {
        right: 58.33333333%;
        left: auto
    }

    .ant-col-xxl-pull-14.ant-col-rtl {
        right: auto;
        left: 58.33333333%
    }

    .ant-col-xxl-offset-14.ant-col-rtl {
        margin-right: 58.33333333%;
        margin-left: 0
    }

    .ant-col-xxl-push-15.ant-col-rtl {
        right: 62.5%;
        left: auto
    }

    .ant-col-xxl-pull-15.ant-col-rtl {
        right: auto;
        left: 62.5%
    }

    .ant-col-xxl-offset-15.ant-col-rtl {
        margin-right: 62.5%;
        margin-left: 0
    }

    .ant-col-xxl-push-16.ant-col-rtl {
        right: 66.66666667%;
        left: auto
    }

    .ant-col-xxl-pull-16.ant-col-rtl {
        right: auto;
        left: 66.66666667%
    }

    .ant-col-xxl-offset-16.ant-col-rtl {
        margin-right: 66.66666667%;
        margin-left: 0
    }

    .ant-col-xxl-push-17.ant-col-rtl {
        right: 70.83333333%;
        left: auto
    }

    .ant-col-xxl-pull-17.ant-col-rtl {
        right: auto;
        left: 70.83333333%
    }

    .ant-col-xxl-offset-17.ant-col-rtl {
        margin-right: 70.83333333%;
        margin-left: 0
    }

    .ant-col-xxl-push-18.ant-col-rtl {
        right: 75%;
        left: auto
    }

    .ant-col-xxl-pull-18.ant-col-rtl {
        right: auto;
        left: 75%
    }

    .ant-col-xxl-offset-18.ant-col-rtl {
        margin-right: 75%;
        margin-left: 0
    }

    .ant-col-xxl-push-19.ant-col-rtl {
        right: 79.16666667%;
        left: auto
    }

    .ant-col-xxl-pull-19.ant-col-rtl {
        right: auto;
        left: 79.16666667%
    }

    .ant-col-xxl-offset-19.ant-col-rtl {
        margin-right: 79.16666667%;
        margin-left: 0
    }

    .ant-col-xxl-push-20.ant-col-rtl {
        right: 83.33333333%;
        left: auto
    }

    .ant-col-xxl-pull-20.ant-col-rtl {
        right: auto;
        left: 83.33333333%
    }

    .ant-col-xxl-offset-20.ant-col-rtl {
        margin-right: 83.33333333%;
        margin-left: 0
    }

    .ant-col-xxl-push-21.ant-col-rtl {
        right: 87.5%;
        left: auto
    }

    .ant-col-xxl-pull-21.ant-col-rtl {
        right: auto;
        left: 87.5%
    }

    .ant-col-xxl-offset-21.ant-col-rtl {
        margin-right: 87.5%;
        margin-left: 0
    }

    .ant-col-xxl-push-22.ant-col-rtl {
        right: 91.66666667%;
        left: auto
    }

    .ant-col-xxl-pull-22.ant-col-rtl {
        right: auto;
        left: 91.66666667%
    }

    .ant-col-xxl-offset-22.ant-col-rtl {
        margin-right: 91.66666667%;
        margin-left: 0
    }

    .ant-col-xxl-push-23.ant-col-rtl {
        right: 95.83333333%;
        left: auto
    }

    .ant-col-xxl-pull-23.ant-col-rtl {
        right: auto;
        left: 95.83333333%
    }

    .ant-col-xxl-offset-23.ant-col-rtl {
        margin-right: 95.83333333%;
        margin-left: 0
    }

    .ant-col-xxl-push-24.ant-col-rtl {
        right: 100%;
        left: auto
    }

    .ant-col-xxl-pull-24.ant-col-rtl {
        right: auto;
        left: 100%
    }

    .ant-col-xxl-offset-24.ant-col-rtl {
        margin-right: 100%;
        margin-left: 0
    }
}


@font-face {
    font-family: 'AlibabaPuHuiTi-Heavy';
    src: url('../fonts/Alibaba-PuHuiTi-Heavy.otf');
    font-weight: 900;
    font-style: normal;
}